<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.android.blends">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA3ufBx9FZvqJmULcourWfydI8lf2J7bCk" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".Activities.MainActivity"
            tools:ignore="InnerclassSeparator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.DetailActivity"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Activities.MapActivity"
            tools:ignore="InnerclassSeparator" />
        <activity android:name=".Activities.SplashActivity" />

        <provider
            android:name=".Data.PlaceContentProvider"
            android:authorities="com.example.android.blends"
            android:exported="false"
            tools:ignore="InnerclassSeparator" />

        <receiver android:name=".GeofenceBroadcastReceiver" />

        <service
            android:name=".HelperClasses.GeofenceTransitionsIntentService"
            tools:ignore="InnerclassSeparator" />
        <service android:name=".WidgetData.WidgetCafeAppService"
            tools:ignore="InnerclassSeparator" />

        <receiver android:name=".WidgetData.CafeAppWidget"
            tools:ignore="InnerclassSeparator">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/cafe_app_widget_info" />
        </receiver>
    </application>

</manifest>